# when() & otherwise()

In [0]:
from pyspark.sql.functions import when,col
data = [(1,"Pranci","M",2000),(2,"Tanna","F",3000),(3,"abcd"," ",2000)]
schema = ["id","name","gender","salary"]
df = spark.createDataFrame(data,schema)
df.show()
df1 = df.select(df.id,df.name,when(df.gender == "M","Male").when(df.gender == "F","Female").otherwise("unkown"))
df1.show()
df2 = df1.withColumnRenamed("CASE WHEN (gender = M) THEN Male WHEN (gender = F) THEN Female ELSE unkown END","Gender")
df2.show()
# It execute sequence of expression until it matches the conditions and returns a value whe match

+---+------+------+------+
| id|  name|gender|salary|
+---+------+------+------+
|  1|Pranci|     M|  2000|
|  2| Tanna|     F|  3000|
|  3|  abcd|      |  2000|
+---+------+------+------+

+---+------+------------------------------------------------------------------------------+
| id|  name|CASE WHEN (gender = M) THEN Male WHEN (gender = F) THEN Female ELSE unkown END|
+---+------+------------------------------------------------------------------------------+
|  1|Pranci|                                                                          Male|
|  2| Tanna|                                                                        Female|
|  3|  abcd|                                                                        unkown|
+---+------+------------------------------------------------------------------------------+

+---+------+------+
| id|  name|Gender|
+---+------+------+
|  1|Pranci|  Male|
|  2| Tanna|Female|
|  3|  abcd|unkown|
+---+------+------+

# alias(),asc(),desc(),cast() & like()

In [0]:
data = [(1,"Pranci",2000),(2,"Tanna",3000),(3,"Prashant",2000)]
schema = ["id","name","salary"]
df = spark.createDataFrame(data,schema)
df.show()

+---+--------+------+
| id|    name|salary|
+---+--------+------+
|  1|  Pranci|  2000|
|  2|   Tanna|  3000|
|  3|Prashant|  2000|
+---+--------+------+

In [0]:
# ailas() - It is also used for rename the existing column and there is no diffrence between withColumnRenamed() and alias() but aials deal with sql commands data
df1 = df.select(df.id.alias("emp_id"),df.name.alias("emp_name"),df.salary.alias("emp_salary"))
df1.show()

+------+--------+----------+
|emp_id|emp_name|emp_salary|
+------+--------+----------+
|     1|  Pranci|      2000|
|     2|   Tanna|      3000|
|     3|Prashant|      2000|
+------+--------+----------+

In [0]:
# sort() - It is used to arange the data according to ascensing or decending order
df.sort(df.name.asc()).show() # for ascending order and bydefault it will take ascending order
df.sort(df.name.desc()).show() # for descending order

+---+--------+------+
| id|    name|salary|
+---+--------+------+
|  1|  Pranci|  2000|
|  3|Prashant|  2000|
|  2|   Tanna|  3000|
+---+--------+------+

+---+--------+------+
| id|    name|salary|
+---+--------+------+
|  2|   Tanna|  3000|
|  3|Prashant|  2000|
|  1|  Pranci|  2000|
+---+--------+------+

In [0]:
# cast() - It is used for casting the column according to requirement of a datatype 
df1 = df.select(df.id,df.name,df.salary.cast("int"))
df1.printSchema()

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- salary: integer (nullable = true)

In [0]:
# like() - It is used to returns a boolean Column based on a LIKE match
df1 = df.filter(df.name.like("P%"))
df1.show()

+---+--------+------+
| id|    name|salary|
+---+--------+------+
|  1|  Pranci|  2000|
|  3|Prashant|  2000|
+---+--------+------+

#filter() and where()

In [0]:
data = [(1,"Pranci","Female",2000),(2,"Prashant","Male",3000),(3,"Tanna","Female",2000)]
schema = ["id","name","gender","salary"]
df = spark.createDataFrame(data,schema)
df.show()
df.filter(df.gender == "Male").show()
df.filter(df.gender == "Female").show()
# filter() and where() is used to to filter the rows from dataframe according to the requirement

+---+--------+------+------+
| id|    name|gender|salary|
+---+--------+------+------+
|  1|  Pranci|Female|  2000|
|  2|Prashant|  Male|  3000|
|  3|   Tanna|Female|  2000|
+---+--------+------+------+

+---+--------+------+------+
| id|    name|gender|salary|
+---+--------+------+------+
|  2|Prashant|  Male|  3000|
+---+--------+------+------+

+---+------+------+------+
| id|  name|gender|salary|
+---+------+------+------+
|  1|Pranci|Female|  2000|
|  3| Tanna|Female|  2000|
+---+------+------+------+

#distinct() & dropDuplicate()

In [0]:
# distinct() - It is used to select unique rows from all columns.
data = [(1,"Pranci","Female",2000),(1,"Pranci","Female",2000),(3,"Tanna","Female",4000)]
schema = ["id","name","gender","salary"]
df = spark.createDataFrame(data,schema)
df.show()
df.distinct().show()

+---+------+------+------+
| id|  name|gender|salary|
+---+------+------+------+
|  1|Pranci|Female|  2000|
|  1|Pranci|Female|  2000|
|  3| Tanna|Female|  4000|
+---+------+------+------+

+---+------+------+------+
| id|  name|gender|salary|
+---+------+------+------+
|  1|Pranci|Female|  2000|
|  3| Tanna|Female|  4000|
+---+------+------+------+

In [0]:
#dropDuplicates() - It is used to delete duplicates rows from all columns.
df.dropDuplicates().show()

+---+------+------+------+
| id|  name|gender|salary|
+---+------+------+------+
|  1|Pranci|Female|  2000|
|  3| Tanna|Female|  4000|
+---+------+------+------+

In [0]:
# To delete duplicates row on the bases of conditions
data = [(1,"Pranci","Female",2000),(1,"Pranci","Female",2000),(3,"Prashant","Male",4000)]
schema = ["id","name","gender","salary"]
df = spark.createDataFrame(data,schema)
df.show()
df.dropDuplicates(["gender"]).show()

+---+--------+------+------+
| id|    name|gender|salary|
+---+--------+------+------+
|  1|  Pranci|Female|  2000|
|  1|  Pranci|Female|  2000|
|  3|Prashant|  Male|  4000|
+---+--------+------+------+

+---+--------+------+------+
| id|    name|gender|salary|
+---+--------+------+------+
|  1|  Pranci|Female|  2000|
|  3|Prashant|  Male|  4000|
+---+--------+------+------+

#orderBy() & sort()

In [0]:
data = [(1,"Pranci","IT",2000),(2,"Pranci","HR",2000),(3,"Prashant","Operation",4000)]
schema = ["id","name","dep","salary"]
df = spark.createDataFrame(data,schema)
df.show()

+---+--------+---------+------+
| id|    name|      dep|salary|
+---+--------+---------+------+
|  1|  Pranci|       IT|  2000|
|  2|  Pranci|       HR|  2000|
|  3|Prashant|Operation|  4000|
+---+--------+---------+------+

In [0]:
#sort() - It is used to sort the column according to requirement
df.sort("dep").show()
#or
df.sort(df.dep).show()

+---+--------+---------------+------+
| id|    name|            dep|salary|
+---+--------+---------------+------+
|  1|  Pranci|             IT|  2000|
|  2|   Tanna|             IT|  3000|
|  3|Prashant|Sales Marketing|  4000|
|  4|    Basu|Sales Marketing|  4000|
+---+--------+---------------+------+

+---+--------+---------------+------+
| id|    name|            dep|salary|
+---+--------+---------------+------+
|  1|  Pranci|             IT|  2000|
|  2|   Tanna|             IT|  3000|
|  3|Prashant|Sales Marketing|  4000|
|  4|    Basu|Sales Marketing|  4000|
+---+--------+---------------+------+

In [0]:
df.sort((df.dep),(df.id)).show()
#or
df.sort((df.dep),(df.id).desc()).show()

+---+--------+---------+------+
| id|    name|      dep|salary|
+---+--------+---------+------+
|  2|  Pranci|       HR|  2000|
|  1|  Pranci|       IT|  2000|
|  3|Prashant|Operation|  4000|
+---+--------+---------+------+

+---+--------+---------+------+
| id|    name|      dep|salary|
+---+--------+---------+------+
|  2|  Pranci|       HR|  2000|
|  1|  Pranci|       IT|  2000|
|  3|Prashant|Operation|  4000|
+---+--------+---------+------+

#gropuBy()

In [0]:
data = [(1,"Pranci","IT",2000),(2,"Tanna","IT",3000),(3,"Prashant","Sales Marketing",4000),(4,"Basu","Sales Marketing",4000)]
schema = ["id","name","dep","salary"]
df = spark.createDataFrame(data,schema)
df.show()

+---+--------+---------------+------+
| id|    name|            dep|salary|
+---+--------+---------------+------+
|  1|  Pranci|             IT|  2000|
|  2|   Tanna|             IT|  3000|
|  3|Prashant|Sales Marketing|  4000|
|  4|    Basu|Sales Marketing|  4000|
+---+--------+---------------+------+

In [0]:
# groupBy -It  is used to collect the identical data into groups and perform aggregate functions on the grouped data
df1 = df.groupBy("dep").min("salary")
df1.show()
df2 = df.groupBy("dep").max("salary")
df2.show()

+---------------+-----------+
|            dep|min(salary)|
+---------------+-----------+
|             IT|       2000|
|Sales Marketing|       4000|
+---------------+-----------+

+---------------+-----------+
|            dep|max(salary)|
+---------------+-----------+
|             IT|       3000|
|Sales Marketing|       4000|
+---------------+-----------+

In [0]:
# use multiple column for groupBy condition
df3 = df.groupBy("dep","salary").count()
df3.show()

+---------------+------+-----+
|            dep|salary|count|
+---------------+------+-----+
|             IT|  2000|    1|
|             IT|  3000|    1|
|Sales Marketing|  4000|    2|
+---------------+------+-----+

#groupBy().agg()

In [0]:
data = [(1,"Pranci","IT",2000),(2,"Tanna","IT",3000),(3,"Prashant","Sales Marketing",4000),(4,"Basu","Sales Marketing",4000)]
schema = ["id","name","dep","salary"]
df = spark.createDataFrame(data,schema)
df.show()

+---+--------+---------------+------+
| id|    name|            dep|salary|
+---+--------+---------------+------+
|  1|  Pranci|             IT|  2000|
|  2|   Tanna|             IT|  3000|
|  3|Prashant|Sales Marketing|  4000|
|  4|    Basu|Sales Marketing|  4000|
+---+--------+---------------+------+

In [0]:
from pyspark.sql.functions import count
df.groupBy("dep").agg(count("*").alias("count of dep")).show()

+---------------+------------+
|            dep|count of dep|
+---------------+------------+
|             IT|           2|
|Sales Marketing|           2|
+---------------+------------+

#UnionByName()

In [0]:
#to merge/ union two Dataframe with a diffrent number of columns(diffrent schema)by passing allow missing column with the value true
data = [(1,"Pranci","M",2000),(2,"Tanna","F",3000),(3,"abcd"," ",2000),(5,"wxyz"," ",6000)]
schema = ["id","name","gender","salary"]
df1 = spark.createDataFrame(data,schema)
df1.show()

+---+------+------+------+
| id|  name|gender|salary|
+---+------+------+------+
|  1|Pranci|     M|  2000|
|  2| Tanna|     F|  3000|
|  3|  abcd|      |  2000|
|  5|  wxyz|      |  6000|
+---+------+------+------+

In [0]:
data = [(1,"Pranci","IT",2000),(2,"Tanna","IT",3000),(3,"Prashant","Sales Marketing",4000),(4,"Basu","Sales Marketing",4000)]
schema = ["id","name","dep","salary"]
df2 = spark.createDataFrame(data,schema)
df2.show()

+---+--------+---------------+------+
| id|    name|            dep|salary|
+---+--------+---------------+------+
|  1|  Pranci|             IT|  2000|
|  2|   Tanna|             IT|  3000|
|  3|Prashant|Sales Marketing|  4000|
|  4|    Basu|Sales Marketing|  4000|
+---+--------+---------------+------+

In [0]:
df1.unionByName(df2,allowMissingColumns=True).show()

+---+--------+------+------+---------------+
| id|    name|gender|salary|            dep|
+---+--------+------+------+---------------+
|  1|  Pranci|     M|  2000|           null|
|  2|   Tanna|     F|  3000|           null|
|  3|    abcd|      |  2000|           null|
|  5|    wxyz|      |  6000|           null|
|  1|  Pranci|  null|  2000|             IT|
|  2|   Tanna|  null|  3000|             IT|
|  3|Prashant|  null|  4000|Sales Marketing|
|  4|    Basu|  null|  4000|Sales Marketing|
+---+--------+------+------+---------------+

#select()

In [0]:
data = [(1,"Pranci","IT",2000),(2,"Tanna","IT",3000),(3,"Prashant","Sales Marketing",4000),(4,"Basu","Sales Marketing",4000)]
schema = ["id","name","dep","salary"]
df = spark.createDataFrame(data,schema)
df.show()

+---+--------+---------------+------+
| id|    name|            dep|salary|
+---+--------+---------------+------+
|  1|  Pranci|             IT|  2000|
|  2|   Tanna|             IT|  3000|
|  3|Prashant|Sales Marketing|  4000|
|  4|    Basu|Sales Marketing|  4000|
+---+--------+---------------+------+

In [0]:
df.select("id","name").show()
# or
df.select(df.id,df.name).show()
#or
df.select(df["id"],df["dep"]).show()

+---+--------+
| id|    name|
+---+--------+
|  1|  Pranci|
|  2|   Tanna|
|  3|Prashant|
|  4|    Basu|
+---+--------+

+---+--------+
| id|    name|
+---+--------+
|  1|  Pranci|
|  2|   Tanna|
|  3|Prashant|
|  4|    Basu|
+---+--------+

+---+---------------+
| id|            dep|
+---+---------------+
|  1|             IT|
|  2|             IT|
|  3|Sales Marketing|
|  4|Sales Marketing|
+---+---------------+

In [0]:
from pyspark.sql.functions import col
df.select(col("id"),col("salary")).show()
df.select("*").show()

+---+------+
| id|salary|
+---+------+
|  1|  2000|
|  2|  3000|
|  3|  4000|
|  4|  4000|
+---+------+

+---+--------+---------------+------+
| id|    name|            dep|salary|
+---+--------+---------------+------+
|  1|  Pranci|             IT|  2000|
|  2|   Tanna|             IT|  3000|
|  3|Prashant|Sales Marketing|  4000|
|  4|    Basu|Sales Marketing|  4000|
+---+--------+---------------+------+

In [0]:
df.select([col for col in df.columns]).show()

+---+--------+---------------+------+
| id|    name|            dep|salary|
+---+--------+---------------+------+
|  1|  Pranci|             IT|  2000|
|  2|   Tanna|             IT|  3000|
|  3|Prashant|Sales Marketing|  4000|
|  4|    Basu|Sales Marketing|  4000|
+---+--------+---------------+------+

#sample()

In [0]:
# to get the random sample subset from the large dataset
df = spark.range(start = 1,end = 101)
df1 = df.sample(fraction = 0.1,seed = 123)
df2 = df.sample(fraction = 0.5,seed = 12)
display(df1)
display(df2)

id
36
39
42
46
72
85
88
100

id
1
4
5
6
7
9
10
11
12
13
15
17
20
21
22
23
24
26
31
34
35
36
38
40
41
46
47
48
49
51
52
53
54
55
61
64
65
67
71
76
78
79
80
81
82
83
84
85
87
88
89
90
91
93
95
97

#collect()

In [0]:
#collect() = It retrive all elements in a dataframe as an array of rows type to the driver node
data = [(1,"Pranci","M",2000),(2,"Tanna","F",3000),(3,"abcd"," ",2000)]
schema = ["id","name","gender","salary"]
df = spark.createDataFrame(data,schema)
df.show()

+---+------+------+------+
| id|  name|gender|salary|
+---+------+------+------+
|  1|Pranci|     M|  2000|
|  2| Tanna|     F|  3000|
|  3|  abcd|      |  2000|
+---+------+------+------+

In [0]:
list = df.collect()
print(list)
print(list[0])
print(list[1][3])

[Row(id=1, name='Pranci', gender='M', salary=2000), Row(id=2, name='Tanna', gender='F', salary=3000), Row(id=3, name='abcd', gender=' ', salary=2000)]
Row(id=1, name='Pranci', gender='M', salary=2000)
3000

#pivot() & unpivot()

In [0]:
# pivot() - It is used to rotate data in column into multiple columns
data = [
    (1, "Quality", 4),
    (1, "Service", 3),
    (2, "Quality", 5),
    (2, "Service", 4),
    (3, "Quality", 2),
    (3, "Service", 3),
]

df = spark.createDataFrame(data, ["Customer_ID", "Feedback_Category", "Rating"])
df.show()

+-----------+-----------------+------+
|Customer_ID|Feedback_Category|Rating|
+-----------+-----------------+------+
|          1|          Quality|     4|
|          1|          Service|     3|
|          2|          Quality|     5|
|          2|          Service|     4|
|          3|          Quality|     2|
|          3|          Service|     3|
+-----------+-----------------+------+

In [0]:
from pyspark.sql.functions import avg
pivoted_df = df.groupBy("Customer_ID").pivot("Feedback_Category").agg(avg("Rating"))
pivoted_df.show()

+-----------+-------+-------+
|Customer_ID|Quality|Service|
+-----------+-------+-------+
|          1|    4.5|    3.5|
|          3|    2.5|    2.5|
|          2|    4.5|    4.5|
+-----------+-------+-------+

In [0]:
#unpivot() - It is rotating columns into rows
unpivoted_df = pivoted_df.selectExpr("Customer_ID", "stack(2, 'Quality', Quality, 'Service', Service) as (Feedback_Category, Rating)")
df.show()

+-----------+-----------------+------+
|Customer_ID|Feedback_Category|Rating|
+-----------+-----------------+------+
|          1|          Quality|     4|
|          1|          Service|     3|
|          2|          Quality|     5|
|          2|          Service|     4|
|          3|          Quality|     2|
|          3|          Service|     3|
+-----------+-----------------+------+

#union() & unionAll()

In [0]:
data = [(1,"Pranci","F",2000),(2,"Tanna","F",3000)]
schema = ["id","name","gender","salary"]
df1 = spark.createDataFrame(data,schema)
df1.show()

+---+------+------+------+
| id|  name|gender|salary|
+---+------+------+------+
|  1|Pranci|     F|  2000|
|  2| Tanna|     F|  3000|
+---+------+------+------+

In [0]:
data = [(1,"Pranci","F",2000),(2,"Basu","M",5000)]
schema = ["id","name","gender","salary"]
df2 = spark.createDataFrame(data,schema)
df2.show()

+---+------+------+------+
| id|  name|gender|salary|
+---+------+------+------+
|  1|Pranci|     F|  2000|
|  2|  Basu|     M|  5000|
+---+------+------+------+

In [0]:
newdf1 = df1.unionAll(df2).show()

+---+------+------+------+
| id|  name|gender|salary|
+---+------+------+------+
|  1|Pranci|     F|  2000|
|  2| Tanna|     F|  3000|
|  1|Pranci|     F|  2000|
|  2|  Basu|     M|  5000|
+---+------+------+------+

In [0]:
newdf2 = df1.union(df2).show()

+---+------+------+------+
| id|  name|gender|salary|
+---+------+------+------+
|  1|Pranci|     F|  2000|
|  2| Tanna|     F|  3000|
|  1|Pranci|     F|  2000|
|  2|  Basu|     M|  5000|
+---+------+------+------+

#Convert RDD to Dataframe

In [0]:
data = [(1,"Pranci"),(2,"Prashant")]
rdd = spark.sparkContext.parallelize(data)
print(rdd.collect())

[(1, 'Pranci'), (2, 'Prashant')]

In [0]:
df = rdd.toDF()
df.show()
#or
df1 = spark.createDataFrame(rdd,schema=["id","name"])
df1.show()

+---+--------+
| _1|      _2|
+---+--------+
|  1|  Pranci|
|  2|Prashant|
+---+--------+

+---+--------+
| id|    name|
+---+--------+
|  1|  Pranci|
|  2|Prashant|
+---+--------+

#transform()

In [0]:
data = [(1,"Pranci",8000),(2,"Basu",5000)]
schema = ["id","name","salary"]
df = spark.createDataFrame(data,schema)
df.show()

+---+------+------+
| id|  name|salary|
+---+------+------+
|  1|Pranci|  8000|
|  2|  Basu|  5000|
+---+------+------+

In [0]:
from pyspark.sql.functions import upper
def convertToUpper(df):
    return df.withColumn("name",upper(df.name))
def doubleTheSalary(df):
    return df.withColumn("salary",(df.salary*2))
df1 = df.transform(convertToUpper)\
    .transform(doubleTheSalary)
df1.show()

+---+------+------+
| id|  name|salary|
+---+------+------+
|  1|PRANCI| 16000|
|  2|  BASU| 10000|
+---+------+------+