#Create Spark Session

In [0]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Name").getOrCreate()
df = spark.read.csv("dbfs:/FileStore/Car_sales1.csv")
df.show()
# By default in Azure Databricks and Azure synapse spark object is present

+-----+------------+-----------+------------------+-------------------+------------+------------------+-----------+----------+---------+-----+------+-----------+-------------+---------------+-------------+-----------------+
|  _c0|         _c1|        _c2|               _c3|                _c4|         _c5|               _c6|        _c7|       _c8|      _c9| _c10|  _c11|       _c12|         _c13|           _c14|         _c15|             _c16|
+-----+------------+-----------+------------------+-------------------+------------+------------------+-----------+----------+---------+-----+------+-----------+-------------+---------------+-------------+-----------------+
|CarID|Manufacturer|      Model|Sales_in_thousands|__year_resale_value|Vehicle_type|Price_in_thousands|Engine_size|Horsepower|Wheelbase|Width|Length|Curb_weight|Fuel_capacity|Fuel_efficiency|Latest_Launch|Power_perf_factor|
|    1|       Acura|    Integra|            16.919|              16.36|   Passenger|              21.5|        1.8|       140|    101.2| 67.3| 172.4|      2.639|         13.2|             28|     2/2/2012|      58.28014952|
|    2|       Acura|         TL|            39.384|             19.875|   Passenger|              28.4|        3.2|       225|    108.1| 70.3| 192.9|      3.517|         17.2|             25|     6/3/2011|      91.37077766|
|    3|       Acura|         CL|            14.114|             18.225|   Passenger|              null|        3.2|       225|    106.9| 70.6|   192|       3.47|         17.2|             26|     1/4/2012|             null|
|    4|       Acura|         RL|             8.588|             29.725|   Passenger|                42|        3.5|       210|    114.6| 71.4| 196.6|       3.85|           18|             22|    3/10/2011|      91.38977933|
|    5|        Audi|         A4|            20.397|             22.255|   Passenger|             23.99|        1.8|       150|    102.6| 68.2|   178|      2.998|         16.4|             27|    10/8/2011|       62.7776392|
|    6|        Audi|         A6|             18.78|             23.555|   Passenger|             33.95|        2.8|       200|    108.7| 76.1|   192|      3.561|         18.5|             22|     8/9/2011|      84.56510502|
|    7|        Audi|         A8|              1.38|                 39|   Passenger|                62|        4.2|       310|      113|   74| 198.2|      3.902|         23.7|             21|    2/27/2012|      134.6568582|
|    8|         BMW|       323i|            19.747|               null|   Passenger|             26.99|        2.5|       170|    107.3| 68.4|   176|      3.179|         16.6|             26|    6/28/2011|      71.19120671|
|    9|         BMW|       328i|             9.231|             28.675|   Passenger|              33.4|        2.8|       193|    107.3| 68.5|   176|      3.197|         16.6|             24|    1/29/2012|      81.87706856|
|   10|         BMW|       528i|            17.527|             36.125|   Passenger|              38.9|        2.8|       193|    111.4| 70.9|   188|      3.472|         18.5|             25|     4/4/2011|       83.9987238|
|   11|       Buick|    Century|            91.561|             12.475|   Passenger|            21.975|        3.1|       175|      109| 72.7| 194.6|      3.368|         17.5|             25|    11/2/2011|      71.18145132|
|   12|       Buick|      Regal|             39.35|              13.74|   Passenger|              25.3|        3.8|       240|      109| 72.7| 196.2|      3.543|         17.5|             23|     9/3/2011|      95.63670253|
|   13|       Buick|Park Avenue|            27.851|              20.19|   Passenger|            31.965|        3.8|       205|    113.8| 74.7| 206.8|      3.778|         18.5|             24|    3/23/2012|      85.82840825|
|   14|       Buick|    LeSabre|            83.257|              13.36|   Passenger|            27.885|        3.8|       205|    112.2| 73.5|   200|      3.591|         17.5|             25|    7/23/2011|      84.25452581|
|   15|    Cadillac|    DeVille|            63.729|             22.525|   Passenger|            39.895|        4.6|       275|    115.3| 74.5| 207.2|      3.978|         18.5|             22|    2/23/2012|      113.8545976|
|   16|    Cadillac|    Seville|            15.943|               27.1|   Passenger|            44.475|        4.6|       275|    112.2|   75|   201|       null|         18.5|             22|    4/29/2011|      115.6213578|
|   17|    Cadillac|   Eldorado|             6.536|             25.725|   Passenger|            39.665|        4.6|       275|      108| 75.5| 200.6|      3.843|           19|             22|   11/27/2011|      113.7658739|
|   18|    Cadillac|     Catera|            11.185|             18.225|   Passenger|             31.01|          3|       200|    107.4| 70.3| 194.8|       3.77|           18|             22|    9/28/2011|      83.48309358|
|   19|    Cadillac|   Escalade|            14.785|               null|         Car|            46.225|        5.7|       255|    117.5|   77| 201.2|      5.572|           30|             15|    4/17/2012|      109.5091165|
+-----+------------+-----------+------------------+-------------------+------------+------------------+-----------+----------+---------+-----+------+-----------+-------------+---------------+-------------+-----------------+
only showing top 20 rows

#Create DataFrame

In [0]:
#Method- 1(By default schema generate there datatype)
data = [(1,"Pranci",26),(2,"Tanna",24)]
df = spark.createDataFrame(data = data, schema = ['id','name','age'])
df.show()

+---+------+---+
| id|  name|age|
+---+------+---+
|  1|Pranci| 26|
|  2| Tanna| 24|
+---+------+---+

In [0]:
type(df) #to get the type of data

Out[3]: pyspark.sql.dataframe.DataFrame

In [0]:
dir(df) # to get all the list of properties, methods and Functions

Out[4]: ['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_collect_as_arrow',
 '_jcols',
 '_jdf',
 '_jmap',
 '_joinAsOf',
 '_jseq',
 '_lazy_rdd',
 '_repr_html_',
 '_sc',
 '_schema',
 '_session',
 '_sort_cols',
 '_sql_ctx',
 '_support_repr_html',
 '_to_corrected_pandas_type',
 'agg',
 'alias',
 'approxQuantile',
 'cache',
 'checkpoint',
 'coalesce',
 'colRegex',
 'collect',
 'columns',
 'corr',
 'count',
 'cov',
 'createGlobalTempView',
 'createOrReplaceGlobalTempView',
 'createOrReplaceTempView',
 'createTempView',
 'crossJoin',
 'crosstab',
 'cube',
 'describe',
 'display',
 'distinct',
 'drop',
 'dropDuplicates',
 'drop_duplicates',
 'dropna',
 'dtypes',
 'exceptAll',
 'explain',
 'fillna',
 'filter',
 'first',
 'foreach',
 'foreachPartition',
 'freqItems',
 'groupBy',
 'groupby',
 'head',
 'hint',
 'inputFiles',
 'intersect',
 'intersectAll',
 'isEmpty',
 'isLocal',
 'isStreaming',
 'is_cached',
 'join',
 'limit',
 'localCheckpoint',
 'mapInArrow',
 'mapInPandas',
 'melt',
 'na',
 'observe',
 'orderBy',
 'pandas_api',
 'persist',
 'printSchema',
 'randomSplit',
 'rdd',
 'registerTempTable',
 'repartition',
 'repartitionByRange',
 'replace',
 'rollup',
 'sameSemantics',
 'sample',
 'sampleBy',
 'schema',
 'select',
 'selectExpr',
 'semanticHash',
 'show',
 'sort',
 'sortWithinPartitions',
 'sparkSession',
 'sql_ctx',
 'stat',
 'storageLevel',
 'subtract',
 'summary',
 'tail',
 'take',
 'to',
 'toDF',
 'toJSON',
 'toLocalIterator',
 'toPandas',
 'to_koalas',
 'to_pandas_on_spark',
 'transform',
 'union',
 'unionAll',
 'unionByName',
 'unpersist',
 'unpivot',
 'where',
 'withColumn',
 'withColumnRenamed',
 'withColumns',
 'withMetadata',
 'withWatermark',
 'write',
 'writeStream',
 'writeTo']

In [0]:
# Method- 2( we mention the datatype of schema)
from pyspark.sql.types import StructField,StructType, IntegerType,StringType
data = [(1,"Pranci",2000),(2,"Tanna",5000)]
sche = StructType([StructField(name = "id",dataType= IntegerType()),
                   StructField(name = "Name",dataType = StringType()),
                   StructField(name = "Salary",dataType = IntegerType())])
df = spark.createDataFrame(data = data, schema = sche)
df.show()

+---+------+------+
| id|  Name|Salary|
+---+------+------+
|  1|Pranci|  2000|
|  2| Tanna|  5000|
+---+------+------+

#Read CSV File

In [0]:
#Method 1 - Read single file
df = spark.read.csv("dbfs:/FileStore/Car_sales1.csv",inferSchema = True)
df.show()

+-----+------------+-----------+------------------+-------------------+------------+------------------+-----------+----------+---------+-----+------+-----------+-------------+---------------+-------------+-----------------+
|  _c0|         _c1|        _c2|               _c3|                _c4|         _c5|               _c6|        _c7|       _c8|      _c9| _c10|  _c11|       _c12|         _c13|           _c14|         _c15|             _c16|
+-----+------------+-----------+------------------+-------------------+------------+------------------+-----------+----------+---------+-----+------+-----------+-------------+---------------+-------------+-----------------+
|CarID|Manufacturer|      Model|Sales_in_thousands|__year_resale_value|Vehicle_type|Price_in_thousands|Engine_size|Horsepower|Wheelbase|Width|Length|Curb_weight|Fuel_capacity|Fuel_efficiency|Latest_Launch|Power_perf_factor|
|    1|       Acura|    Integra|            16.919|              16.36|   Passenger|              21.5|        1.8|       140|    101.2| 67.3| 172.4|      2.639|         13.2|             28|     2/2/2012|      58.28014952|
|    2|       Acura|         TL|            39.384|             19.875|   Passenger|              28.4|        3.2|       225|    108.1| 70.3| 192.9|      3.517|         17.2|             25|     6/3/2011|      91.37077766|
|    3|       Acura|         CL|            14.114|             18.225|   Passenger|              null|        3.2|       225|    106.9| 70.6|   192|       3.47|         17.2|             26|     1/4/2012|             null|
|    4|       Acura|         RL|             8.588|             29.725|   Passenger|                42|        3.5|       210|    114.6| 71.4| 196.6|       3.85|           18|             22|    3/10/2011|      91.38977933|
|    5|        Audi|         A4|            20.397|             22.255|   Passenger|             23.99|        1.8|       150|    102.6| 68.2|   178|      2.998|         16.4|             27|    10/8/2011|       62.7776392|
|    6|        Audi|         A6|             18.78|             23.555|   Passenger|             33.95|        2.8|       200|    108.7| 76.1|   192|      3.561|         18.5|             22|     8/9/2011|      84.56510502|
|    7|        Audi|         A8|              1.38|                 39|   Passenger|                62|        4.2|       310|      113|   74| 198.2|      3.902|         23.7|             21|    2/27/2012|      134.6568582|
|    8|         BMW|       323i|            19.747|               null|   Passenger|             26.99|        2.5|       170|    107.3| 68.4|   176|      3.179|         16.6|             26|    6/28/2011|      71.19120671|
|    9|         BMW|       328i|             9.231|             28.675|   Passenger|              33.4|        2.8|       193|    107.3| 68.5|   176|      3.197|         16.6|             24|    1/29/2012|      81.87706856|
|   10|         BMW|       528i|            17.527|             36.125|   Passenger|              38.9|        2.8|       193|    111.4| 70.9|   188|      3.472|         18.5|             25|     4/4/2011|       83.9987238|
|   11|       Buick|    Century|            91.561|             12.475|   Passenger|            21.975|        3.1|       175|      109| 72.7| 194.6|      3.368|         17.5|             25|    11/2/2011|      71.18145132|
|   12|       Buick|      Regal|             39.35|              13.74|   Passenger|              25.3|        3.8|       240|      109| 72.7| 196.2|      3.543|         17.5|             23|     9/3/2011|      95.63670253|
|   13|       Buick|Park Avenue|            27.851|              20.19|   Passenger|            31.965|        3.8|       205|    113.8| 74.7| 206.8|      3.778|         18.5|             24|    3/23/2012|      85.82840825|
|   14|       Buick|    LeSabre|            83.257|              13.36|   Passenger|            27.885|        3.8|       205|    112.2| 73.5|   200|      3.591|         17.5|             25|    7/23/2011|      84.25452581|
|   15|    Cadillac|    DeVille|            63.729|             22.525|   Passenger|            39.895|        4.6|       275|    115.3| 74.5| 207.2|      3.978|         18.5|             22|    2/23/2012|      113.8545976|
|   16|    Cadillac|    Seville|            15.943|               27.1|   Passenger|            44.475|        4.6|       275|    112.2|   75|   201|       null|         18.5|             22|    4/29/2011|      115.6213578|
|   17|    Cadillac|   Eldorado|             6.536|             25.725|   Passenger|            39.665|        4.6|       275|      108| 75.5| 200.6|      3.843|           19|             22|   11/27/2011|      113.7658739|
|   18|    Cadillac|     Catera|            11.185|             18.225|   Passenger|             31.01|          3|       200|    107.4| 70.3| 194.8|       3.77|           18|             22|    9/28/2011|      83.48309358|
|   19|    Cadillac|   Escalade|            14.785|               null|         Car|            46.225|        5.7|       255|    117.5|   77| 201.2|      5.572|           30|             15|    4/17/2012|      109.5091165|
+-----+------------+-----------+------------------+-------------------+------------+------------------+-----------+----------+---------+-----+------+-----------+-------------+---------------+-------------+-----------------+
only showing top 20 rows

In [0]:
#Method 2 - Read single file
df = spark.read.format("csv").option(key = "header",value = True).load("dbfs:/FileStore/Car_sales1.csv",haeder = True)
df.show()

+-----+------------+-----------+------------------+-------------------+------------+------------------+-----------+----------+---------+-----+------+-----------+-------------+---------------+-------------+-----------------+
|CarID|Manufacturer|      Model|Sales_in_thousands|__year_resale_value|Vehicle_type|Price_in_thousands|Engine_size|Horsepower|Wheelbase|Width|Length|Curb_weight|Fuel_capacity|Fuel_efficiency|Latest_Launch|Power_perf_factor|
+-----+------------+-----------+------------------+-------------------+------------+------------------+-----------+----------+---------+-----+------+-----------+-------------+---------------+-------------+-----------------+
|    1|       Acura|    Integra|            16.919|              16.36|   Passenger|              21.5|        1.8|       140|    101.2| 67.3| 172.4|      2.639|         13.2|             28|     2/2/2012|      58.28014952|
|    2|       Acura|         TL|            39.384|             19.875|   Passenger|              28.4|        3.2|       225|    108.1| 70.3| 192.9|      3.517|         17.2|             25|     6/3/2011|      91.37077766|
|    3|       Acura|         CL|            14.114|             18.225|   Passenger|              null|        3.2|       225|    106.9| 70.6|   192|       3.47|         17.2|             26|     1/4/2012|             null|
|    4|       Acura|         RL|             8.588|             29.725|   Passenger|                42|        3.5|       210|    114.6| 71.4| 196.6|       3.85|           18|             22|    3/10/2011|      91.38977933|
|    5|        Audi|         A4|            20.397|             22.255|   Passenger|             23.99|        1.8|       150|    102.6| 68.2|   178|      2.998|         16.4|             27|    10/8/2011|       62.7776392|
|    6|        Audi|         A6|             18.78|             23.555|   Passenger|             33.95|        2.8|       200|    108.7| 76.1|   192|      3.561|         18.5|             22|     8/9/2011|      84.56510502|
|    7|        Audi|         A8|              1.38|                 39|   Passenger|                62|        4.2|       310|      113|   74| 198.2|      3.902|         23.7|             21|    2/27/2012|      134.6568582|
|    8|         BMW|       323i|            19.747|               null|   Passenger|             26.99|        2.5|       170|    107.3| 68.4|   176|      3.179|         16.6|             26|    6/28/2011|      71.19120671|
|    9|         BMW|       328i|             9.231|             28.675|   Passenger|              33.4|        2.8|       193|    107.3| 68.5|   176|      3.197|         16.6|             24|    1/29/2012|      81.87706856|
|   10|         BMW|       528i|            17.527|             36.125|   Passenger|              38.9|        2.8|       193|    111.4| 70.9|   188|      3.472|         18.5|             25|     4/4/2011|       83.9987238|
|   11|       Buick|    Century|            91.561|             12.475|   Passenger|            21.975|        3.1|       175|      109| 72.7| 194.6|      3.368|         17.5|             25|    11/2/2011|      71.18145132|
|   12|       Buick|      Regal|             39.35|              13.74|   Passenger|              25.3|        3.8|       240|      109| 72.7| 196.2|      3.543|         17.5|             23|     9/3/2011|      95.63670253|
|   13|       Buick|Park Avenue|            27.851|              20.19|   Passenger|            31.965|        3.8|       205|    113.8| 74.7| 206.8|      3.778|         18.5|             24|    3/23/2012|      85.82840825|
|   14|       Buick|    LeSabre|            83.257|              13.36|   Passenger|            27.885|        3.8|       205|    112.2| 73.5|   200|      3.591|         17.5|             25|    7/23/2011|      84.25452581|
|   15|    Cadillac|    DeVille|            63.729|             22.525|   Passenger|            39.895|        4.6|       275|    115.3| 74.5| 207.2|      3.978|         18.5|             22|    2/23/2012|      113.8545976|
|   16|    Cadillac|    Seville|            15.943|               27.1|   Passenger|            44.475|        4.6|       275|    112.2|   75|   201|       null|         18.5|             22|    4/29/2011|      115.6213578|
|   17|    Cadillac|   Eldorado|             6.536|             25.725|   Passenger|            39.665|        4.6|       275|      108| 75.5| 200.6|      3.843|           19|             22|   11/27/2011|      113.7658739|
|   18|    Cadillac|     Catera|            11.185|             18.225|   Passenger|             31.01|          3|       200|    107.4| 70.3| 194.8|       3.77|           18|             22|    9/28/2011|      83.48309358|
|   19|    Cadillac|   Escalade|            14.785|               null|         Car|            46.225|        5.7|       255|    117.5|   77| 201.2|      5.572|           30|             15|    4/17/2012|      109.5091165|
|   20|   Chevrolet|   Cavalier|           145.519|               9.25|   Passenger|             13.26|        2.2|       115|    104.1| 67.9| 180.9|      2.676|         14.3|             27|    8/17/2011|      46.36334747|
+-----+------------+-----------+------------------+-------------------+------------+------------------+-----------+----------+---------+-----+------+-----------+-------------+---------------+-------------+-----------------+
only showing top 20 rows

In [0]:
#Method 3 - Read multiple file
df = spark.read.format("csv").option(key = "header",value = True).load(path = ["dbfs:/FileStore/Car_sales1.csv","dbfs:/FileStore/Car_sales2.csv"],haeder = True)
df.show()

+-----+------------+-----------+------------------+-------------------+------------+------------------+-----------+----------+---------+-----+------+-----------+-------------+---------------+-------------+-----------------+
|CarID|Manufacturer|      Model|Sales_in_thousands|__year_resale_value|Vehicle_type|Price_in_thousands|Engine_size|Horsepower|Wheelbase|Width|Length|Curb_weight|Fuel_capacity|Fuel_efficiency|Latest_Launch|Power_perf_factor|
+-----+------------+-----------+------------------+-------------------+------------+------------------+-----------+----------+---------+-----+------+-----------+-------------+---------------+-------------+-----------------+
|    1|       Acura|    Integra|            16.919|              16.36|   Passenger|              21.5|        1.8|       140|    101.2| 67.3| 172.4|      2.639|         13.2|             28|     2/2/2012|      58.28014952|
|    2|       Acura|         TL|            39.384|             19.875|   Passenger|              28.4|        3.2|       225|    108.1| 70.3| 192.9|      3.517|         17.2|             25|     6/3/2011|      91.37077766|
|    3|       Acura|         CL|            14.114|             18.225|   Passenger|              null|        3.2|       225|    106.9| 70.6|   192|       3.47|         17.2|             26|     1/4/2012|             null|
|    4|       Acura|         RL|             8.588|             29.725|   Passenger|                42|        3.5|       210|    114.6| 71.4| 196.6|       3.85|           18|             22|    3/10/2011|      91.38977933|
|    5|        Audi|         A4|            20.397|             22.255|   Passenger|             23.99|        1.8|       150|    102.6| 68.2|   178|      2.998|         16.4|             27|    10/8/2011|       62.7776392|
|    6|        Audi|         A6|             18.78|             23.555|   Passenger|             33.95|        2.8|       200|    108.7| 76.1|   192|      3.561|         18.5|             22|     8/9/2011|      84.56510502|
|    7|        Audi|         A8|              1.38|                 39|   Passenger|                62|        4.2|       310|      113|   74| 198.2|      3.902|         23.7|             21|    2/27/2012|      134.6568582|
|    8|         BMW|       323i|            19.747|               null|   Passenger|             26.99|        2.5|       170|    107.3| 68.4|   176|      3.179|         16.6|             26|    6/28/2011|      71.19120671|
|    9|         BMW|       328i|             9.231|             28.675|   Passenger|              33.4|        2.8|       193|    107.3| 68.5|   176|      3.197|         16.6|             24|    1/29/2012|      81.87706856|
|   10|         BMW|       528i|            17.527|             36.125|   Passenger|              38.9|        2.8|       193|    111.4| 70.9|   188|      3.472|         18.5|             25|     4/4/2011|       83.9987238|
|   11|       Buick|    Century|            91.561|             12.475|   Passenger|            21.975|        3.1|       175|      109| 72.7| 194.6|      3.368|         17.5|             25|    11/2/2011|      71.18145132|
|   12|       Buick|      Regal|             39.35|              13.74|   Passenger|              25.3|        3.8|       240|      109| 72.7| 196.2|      3.543|         17.5|             23|     9/3/2011|      95.63670253|
|   13|       Buick|Park Avenue|            27.851|              20.19|   Passenger|            31.965|        3.8|       205|    113.8| 74.7| 206.8|      3.778|         18.5|             24|    3/23/2012|      85.82840825|
|   14|       Buick|    LeSabre|            83.257|              13.36|   Passenger|            27.885|        3.8|       205|    112.2| 73.5|   200|      3.591|         17.5|             25|    7/23/2011|      84.25452581|
|   15|    Cadillac|    DeVille|            63.729|             22.525|   Passenger|            39.895|        4.6|       275|    115.3| 74.5| 207.2|      3.978|         18.5|             22|    2/23/2012|      113.8545976|
|   16|    Cadillac|    Seville|            15.943|               27.1|   Passenger|            44.475|        4.6|       275|    112.2|   75|   201|       null|         18.5|             22|    4/29/2011|      115.6213578|
|   17|    Cadillac|   Eldorado|             6.536|             25.725|   Passenger|            39.665|        4.6|       275|      108| 75.5| 200.6|      3.843|           19|             22|   11/27/2011|      113.7658739|
|   18|    Cadillac|     Catera|            11.185|             18.225|   Passenger|             31.01|          3|       200|    107.4| 70.3| 194.8|       3.77|           18|             22|    9/28/2011|      83.48309358|
|   19|    Cadillac|   Escalade|            14.785|               null|         Car|            46.225|        5.7|       255|    117.5|   77| 201.2|      5.572|           30|             15|    4/17/2012|      109.5091165|
|   20|   Chevrolet|   Cavalier|           145.519|               9.25|   Passenger|             13.26|        2.2|       115|    104.1| 67.9| 180.9|      2.676|         14.3|             27|    8/17/2011|      46.36334747|
+-----+------------+-----------+------------------+-------------------+------------+------------------+-----------+----------+---------+-----+------+-----------+-------------+---------------+-------------+-----------------+
only showing top 20 rows

In [0]:
#Method 3 - Read all file having same path
df = spark.read.format("csv").option(key = "header",value = True).load(path = ["dbfs:/FileStore/Data"],haeder = True)
df.show()

+-----+------------+-----------+------------------+-------------------+------------+------------------+-----------+----------+---------+-----+------+-----------+-------------+---------------+-------------+-----------------+
|CarID|Manufacturer|      Model|Sales_in_thousands|__year_resale_value|Vehicle_type|Price_in_thousands|Engine_size|Horsepower|Wheelbase|Width|Length|Curb_weight|Fuel_capacity|Fuel_efficiency|Latest_Launch|Power_perf_factor|
+-----+------------+-----------+------------------+-------------------+------------+------------------+-----------+----------+---------+-----+------+-----------+-------------+---------------+-------------+-----------------+
|    1|       Acura|    Integra|            16.919|              16.36|   Passenger|              21.5|        1.8|       140|    101.2| 67.3| 172.4|      2.639|         13.2|             28|     2/2/2012|      58.28014952|
|    2|       Acura|         TL|            39.384|             19.875|   Passenger|              28.4|        3.2|       225|    108.1| 70.3| 192.9|      3.517|         17.2|             25|     6/3/2011|      91.37077766|
|    3|       Acura|         CL|            14.114|             18.225|   Passenger|              null|        3.2|       225|    106.9| 70.6|   192|       3.47|         17.2|             26|     1/4/2012|             null|
|    4|       Acura|         RL|             8.588|             29.725|   Passenger|                42|        3.5|       210|    114.6| 71.4| 196.6|       3.85|           18|             22|    3/10/2011|      91.38977933|
|    5|        Audi|         A4|            20.397|             22.255|   Passenger|             23.99|        1.8|       150|    102.6| 68.2|   178|      2.998|         16.4|             27|    10/8/2011|       62.7776392|
|    6|        Audi|         A6|             18.78|             23.555|   Passenger|             33.95|        2.8|       200|    108.7| 76.1|   192|      3.561|         18.5|             22|     8/9/2011|      84.56510502|
|    7|        Audi|         A8|              1.38|                 39|   Passenger|                62|        4.2|       310|      113|   74| 198.2|      3.902|         23.7|             21|    2/27/2012|      134.6568582|
|    8|         BMW|       323i|            19.747|               null|   Passenger|             26.99|        2.5|       170|    107.3| 68.4|   176|      3.179|         16.6|             26|    6/28/2011|      71.19120671|
|    9|         BMW|       328i|             9.231|             28.675|   Passenger|              33.4|        2.8|       193|    107.3| 68.5|   176|      3.197|         16.6|             24|    1/29/2012|      81.87706856|
|   10|         BMW|       528i|            17.527|             36.125|   Passenger|              38.9|        2.8|       193|    111.4| 70.9|   188|      3.472|         18.5|             25|     4/4/2011|       83.9987238|
|   11|       Buick|    Century|            91.561|             12.475|   Passenger|            21.975|        3.1|       175|      109| 72.7| 194.6|      3.368|         17.5|             25|    11/2/2011|      71.18145132|
|   12|       Buick|      Regal|             39.35|              13.74|   Passenger|              25.3|        3.8|       240|      109| 72.7| 196.2|      3.543|         17.5|             23|     9/3/2011|      95.63670253|
|   13|       Buick|Park Avenue|            27.851|              20.19|   Passenger|            31.965|        3.8|       205|    113.8| 74.7| 206.8|      3.778|         18.5|             24|    3/23/2012|      85.82840825|
|   14|       Buick|    LeSabre|            83.257|              13.36|   Passenger|            27.885|        3.8|       205|    112.2| 73.5|   200|      3.591|         17.5|             25|    7/23/2011|      84.25452581|
|   15|    Cadillac|    DeVille|            63.729|             22.525|   Passenger|            39.895|        4.6|       275|    115.3| 74.5| 207.2|      3.978|         18.5|             22|    2/23/2012|      113.8545976|
|   16|    Cadillac|    Seville|            15.943|               27.1|   Passenger|            44.475|        4.6|       275|    112.2|   75|   201|       null|         18.5|             22|    4/29/2011|      115.6213578|
|   17|    Cadillac|   Eldorado|             6.536|             25.725|   Passenger|            39.665|        4.6|       275|      108| 75.5| 200.6|      3.843|           19|             22|   11/27/2011|      113.7658739|
|   18|    Cadillac|     Catera|            11.185|             18.225|   Passenger|             31.01|          3|       200|    107.4| 70.3| 194.8|       3.77|           18|             22|    9/28/2011|      83.48309358|
|   19|    Cadillac|   Escalade|            14.785|               null|         Car|            46.225|        5.7|       255|    117.5|   77| 201.2|      5.572|           30|             15|    4/17/2012|      109.5091165|
|   20|   Chevrolet|   Cavalier|           145.519|               9.25|   Passenger|             13.26|        2.2|       115|    104.1| 67.9| 180.9|      2.676|         14.3|             27|    8/17/2011|      46.36334747|
+-----+------------+-----------+------------------+-------------------+------------+------------------+-----------+----------+---------+-----+------+-----------+-------------+---------------+-------------+-----------------+
only showing top 20 rows

#Write CSV File

In [0]:
data = [(1,"Pranci",26),(2,"Tanna",24)]
df = spark.createDataFrame(data = data, schema = ['id','name','age'])
df.show()
df.write.csv(path= "dbfs:/FileStore/Data/Dummy",header = True,mode = "append")
# Modes:- append() - To add the data to the existing file
# overwrite() - To overwrite the data to the existing file
# ignore() - To Ignore write operation when the file already exist
# error() - default optio, when the file already exist, it return error

+---+------+---+
| id|  name|age|
+---+------+---+
|  1|Pranci| 26|
|  2| Tanna| 24|
+---+------+---+

#Read JSON File

In [0]:
# Method 1
df1 = spark.read.json("dbfs:/FileStore/Data.json")
df1.show()

+-------------------+-------+-------------+-------------------+-----+--------------------+--------------------+--------------+-------+-------------+------------+-----+---------------+----------+-----------+-----+-----+-----+-----------+-------+
|               City|Country|Decommisioned|EstimatedPopulation|  Lat|            Location|        LocationText|  LocationType|   Long|        Notes|RecordNumber|State|TaxReturnsFiled|TotalWages|WorldRegion|Xaxis|Yaxis|Zaxis|ZipCodeType|Zipcode|
+-------------------+-------+-------------+-------------------+-----+--------------------+--------------------+--------------+-------+-------------+------------+-----+---------------+----------+-----------+-----+-----+-----+-----------+-------+
|        PARC PARQUE|     US|        false|               null|17.96|NA-US-PR-PARC PARQUE|     Parc Parque, PR|NOT ACCEPTABLE| -66.22|         null|           1|   PR|           null|      null|         NA| 0.38|-0.87|  0.3|   STANDARD|    704|
|PASEO COSTA DEL SUR|     US|        false|               null|17.96|NA-US-PR-PASEO CO...|Paseo Costa Del S...|NOT ACCEPTABLE| -66.22|         null|           2|   PR|           null|      null|         NA| 0.38|-0.87|  0.3|   STANDARD|    704|
|       BDA SAN LUIS|     US|        false|               null|18.14|NA-US-PR-BDA SAN ...|    Bda San Luis, PR|NOT ACCEPTABLE| -66.26|         null|          10|   PR|           null|      null|         NA| 0.38|-0.86| 0.31|   STANDARD|    709|
|  CINGULAR WIRELESS|     US|        false|               null|32.72|NA-US-TX-CINGULAR...|Cingular Wireless...|NOT ACCEPTABLE| -97.31|         null|       61391|   TX|           null|      null|         NA| -0.1|-0.83| 0.54|     UNIQUE|  76166|
|         FORT WORTH|     US|        false|               4053|32.75| NA-US-TX-FORT WORTH|      Fort Worth, TX|       PRIMARY| -97.33|         null|       61392|   TX|           2126| 122396986|         NA| -0.1|-0.83| 0.54|   STANDARD|  76177|
|           FT WORTH|     US|        false|               4053|32.75|   NA-US-TX-FT WORTH|        Ft Worth, TX|    ACCEPTABLE| -97.33|         null|       61393|   TX|           2126| 122396986|         NA| -0.1|-0.83| 0.54|   STANDARD|  76177|
|    URB EUGENE RICE|     US|        false|               null|17.96|NA-US-PR-URB EUGE...| Urb Eugene Rice, PR|NOT ACCEPTABLE| -66.22|         null|           4|   PR|           null|      null|         NA| 0.38|-0.87|  0.3|   STANDARD|    704|
|               MESA|     US|        false|              26883|33.37|       NA-US-AZ-MESA|            Mesa, AZ|       PRIMARY|-111.64|no NWS data, |       39827|   AZ|          14962| 563792730|         NA| -0.3|-0.77| 0.55|   STANDARD|  85209|
|               MESA|     US|        false|              25446|33.38|       NA-US-AZ-MESA|            Mesa, AZ|       PRIMARY|-111.84|         null|       39828|   AZ|          14374| 471000465|         NA|-0.31|-0.77| 0.55|   STANDARD|  85210|
|           HILLIARD|     US|        false|               7443|30.69|   NA-US-FL-HILLIARD|        Hilliard, FL|       PRIMARY| -81.92|         null|       49345|   FL|           3922| 133112149|         NA| 0.12|-0.85| 0.51|   STANDARD|  32046|
|             HOLDER|     US|        false|               null|28.96|     NA-US-FL-HOLDER|          Holder, FL|       PRIMARY| -82.41|         null|       49346|   FL|           null|      null|         NA| 0.11|-0.86| 0.48|     PO BOX|  34445|
|               HOLT|     US|        false|               2190|30.72|       NA-US-FL-HOLT|            Holt, FL|       PRIMARY| -86.67|         null|       49347|   FL|           1207|  36395913|         NA| 0.04|-0.85| 0.51|   STANDARD|  32564|
|          HOMOSASSA|     US|        false|               null|28.78|  NA-US-FL-HOMOSASSA|       Homosassa, FL|       PRIMARY| -82.61|         null|       49348|   FL|           null|      null|         NA| 0.11|-0.86| 0.48|     PO BOX|  34487|
|       BDA SAN LUIS|     US|        false|               null|18.14|NA-US-PR-BDA SAN ...|    Bda San Luis, PR|NOT ACCEPTABLE| -66.26|         null|          10|   PR|           null|      null|         NA| 0.38|-0.86| 0.31|   STANDARD|    708|
|      SECT LANAUSSE|     US|        false|               null|17.96|NA-US-PR-SECT LAN...|   Sect Lanausse, PR|NOT ACCEPTABLE| -66.22|         null|           3|   PR|           null|      null|         NA| 0.38|-0.87|  0.3|   STANDARD|    704|
|      SPRING GARDEN|     US|        false|               null|33.97|NA-US-AL-SPRING G...|   Spring Garden, AL|       PRIMARY| -85.55|         null|       54354|   AL|           null|      null|         NA| 0.06|-0.82| 0.55|     PO BOX|  36275|
|        SPRINGVILLE|     US|        false|               7845|33.77|NA-US-AL-SPRINGVILLE|     Springville, AL|       PRIMARY| -86.47|         null|       54355|   AL|           4046| 172127599|         NA| 0.05|-0.82| 0.55|   STANDARD|  35146|
|        SPRUCE PINE|     US|        false|               1209|34.37|NA-US-AL-SPRUCE PINE|     Spruce Pine, AL|       PRIMARY| -87.69|         null|       54356|   AL|            610|  18525517|         NA| 0.03|-0.82| 0.56|   STANDARD|  35585|
|           ASH HILL|     US|        false|               1666| 36.4|   NA-US-NC-ASH HILL|        Ash Hill, NC|NOT ACCEPTABLE| -80.56|         null|       76511|   NC|            842|  28876493|         NA| 0.13|-0.79| 0.59|   STANDARD|  27007|
|           ASHEBORO|     US|        false|              15228|35.71|   NA-US-NC-ASHEBORO|        Asheboro, NC|       PRIMARY| -79.81|         null|       76512|   NC|           8355| 215474318|         NA| 0.14|-0.79| 0.58|   STANDARD|  27203|
+-------------------+-------+-------------+-------------------+-----+--------------------+--------------------+--------------+-------+-------------+------------+-----+---------------+----------+-----------+-----+-----+-----+-----------+-------+
only showing top 20 rows

Out[6]: 'path = "dbfs:/FileStore/sample1.json"\ndf = spark.read.json(path).cache()\ndf.show()'

In [0]:
# Method 2
df1 = spark.read.format("org.apache.spark.sql.json").load("dbfs:/FileStore/Data.json")
df1.show()

+-------------------+-------+-------------+-------------------+-----+--------------------+--------------------+--------------+-------+-------------+------------+-----+---------------+----------+-----------+-----+-----+-----+-----------+-------+
|               City|Country|Decommisioned|EstimatedPopulation|  Lat|            Location|        LocationText|  LocationType|   Long|        Notes|RecordNumber|State|TaxReturnsFiled|TotalWages|WorldRegion|Xaxis|Yaxis|Zaxis|ZipCodeType|Zipcode|
+-------------------+-------+-------------+-------------------+-----+--------------------+--------------------+--------------+-------+-------------+------------+-----+---------------+----------+-----------+-----+-----+-----+-----------+-------+
|        PARC PARQUE|     US|        false|               null|17.96|NA-US-PR-PARC PARQUE|     Parc Parque, PR|NOT ACCEPTABLE| -66.22|         null|           1|   PR|           null|      null|         NA| 0.38|-0.87|  0.3|   STANDARD|    704|
|PASEO COSTA DEL SUR|     US|        false|               null|17.96|NA-US-PR-PASEO CO...|Paseo Costa Del S...|NOT ACCEPTABLE| -66.22|         null|           2|   PR|           null|      null|         NA| 0.38|-0.87|  0.3|   STANDARD|    704|
|       BDA SAN LUIS|     US|        false|               null|18.14|NA-US-PR-BDA SAN ...|    Bda San Luis, PR|NOT ACCEPTABLE| -66.26|         null|          10|   PR|           null|      null|         NA| 0.38|-0.86| 0.31|   STANDARD|    709|
|  CINGULAR WIRELESS|     US|        false|               null|32.72|NA-US-TX-CINGULAR...|Cingular Wireless...|NOT ACCEPTABLE| -97.31|         null|       61391|   TX|           null|      null|         NA| -0.1|-0.83| 0.54|     UNIQUE|  76166|
|         FORT WORTH|     US|        false|               4053|32.75| NA-US-TX-FORT WORTH|      Fort Worth, TX|       PRIMARY| -97.33|         null|       61392|   TX|           2126| 122396986|         NA| -0.1|-0.83| 0.54|   STANDARD|  76177|
|           FT WORTH|     US|        false|               4053|32.75|   NA-US-TX-FT WORTH|        Ft Worth, TX|    ACCEPTABLE| -97.33|         null|       61393|   TX|           2126| 122396986|         NA| -0.1|-0.83| 0.54|   STANDARD|  76177|
|    URB EUGENE RICE|     US|        false|               null|17.96|NA-US-PR-URB EUGE...| Urb Eugene Rice, PR|NOT ACCEPTABLE| -66.22|         null|           4|   PR|           null|      null|         NA| 0.38|-0.87|  0.3|   STANDARD|    704|
|               MESA|     US|        false|              26883|33.37|       NA-US-AZ-MESA|            Mesa, AZ|       PRIMARY|-111.64|no NWS data, |       39827|   AZ|          14962| 563792730|         NA| -0.3|-0.77| 0.55|   STANDARD|  85209|
|               MESA|     US|        false|              25446|33.38|       NA-US-AZ-MESA|            Mesa, AZ|       PRIMARY|-111.84|         null|       39828|   AZ|          14374| 471000465|         NA|-0.31|-0.77| 0.55|   STANDARD|  85210|
|           HILLIARD|     US|        false|               7443|30.69|   NA-US-FL-HILLIARD|        Hilliard, FL|       PRIMARY| -81.92|         null|       49345|   FL|           3922| 133112149|         NA| 0.12|-0.85| 0.51|   STANDARD|  32046|
|             HOLDER|     US|        false|               null|28.96|     NA-US-FL-HOLDER|          Holder, FL|       PRIMARY| -82.41|         null|       49346|   FL|           null|      null|         NA| 0.11|-0.86| 0.48|     PO BOX|  34445|
|               HOLT|     US|        false|               2190|30.72|       NA-US-FL-HOLT|            Holt, FL|       PRIMARY| -86.67|         null|       49347|   FL|           1207|  36395913|         NA| 0.04|-0.85| 0.51|   STANDARD|  32564|
|          HOMOSASSA|     US|        false|               null|28.78|  NA-US-FL-HOMOSASSA|       Homosassa, FL|       PRIMARY| -82.61|         null|       49348|   FL|           null|      null|         NA| 0.11|-0.86| 0.48|     PO BOX|  34487|
|       BDA SAN LUIS|     US|        false|               null|18.14|NA-US-PR-BDA SAN ...|    Bda San Luis, PR|NOT ACCEPTABLE| -66.26|         null|          10|   PR|           null|      null|         NA| 0.38|-0.86| 0.31|   STANDARD|    708|
|      SECT LANAUSSE|     US|        false|               null|17.96|NA-US-PR-SECT LAN...|   Sect Lanausse, PR|NOT ACCEPTABLE| -66.22|         null|           3|   PR|           null|      null|         NA| 0.38|-0.87|  0.3|   STANDARD|    704|
|      SPRING GARDEN|     US|        false|               null|33.97|NA-US-AL-SPRING G...|   Spring Garden, AL|       PRIMARY| -85.55|         null|       54354|   AL|           null|      null|         NA| 0.06|-0.82| 0.55|     PO BOX|  36275|
|        SPRINGVILLE|     US|        false|               7845|33.77|NA-US-AL-SPRINGVILLE|     Springville, AL|       PRIMARY| -86.47|         null|       54355|   AL|           4046| 172127599|         NA| 0.05|-0.82| 0.55|   STANDARD|  35146|
|        SPRUCE PINE|     US|        false|               1209|34.37|NA-US-AL-SPRUCE PINE|     Spruce Pine, AL|       PRIMARY| -87.69|         null|       54356|   AL|            610|  18525517|         NA| 0.03|-0.82| 0.56|   STANDARD|  35585|
|           ASH HILL|     US|        false|               1666| 36.4|   NA-US-NC-ASH HILL|        Ash Hill, NC|NOT ACCEPTABLE| -80.56|         null|       76511|   NC|            842|  28876493|         NA| 0.13|-0.79| 0.59|   STANDARD|  27007|
|           ASHEBORO|     US|        false|              15228|35.71|   NA-US-NC-ASHEBORO|        Asheboro, NC|       PRIMARY| -79.81|         null|       76512|   NC|           8355| 215474318|         NA| 0.14|-0.79| 0.58|   STANDARD|  27203|
+-------------------+-------+-------------+-------------------+-----+--------------------+--------------------+--------------+-------+-------------+------------+-----+---------------+----------+-----------+-----+-----+-----+-----------+-------+
only showing top 20 rows

In [0]:
# Method 3 - For multiline files
df = spark.read.option("multiline","True").json("dbfs:/FileStore/Data.json")
df.show()

+-----------+-------+-------------+-----+--------------------+---------------+--------------+------+------------+-----+-----------+-----+-----+-----+-----------+-------+
|       City|Country|Decommisioned|  Lat|            Location|   LocationText|  LocationType|  Long|RecordNumber|State|WorldRegion|Xaxis|Yaxis|Zaxis|ZipCodeType|Zipcode|
+-----------+-------+-------------+-----+--------------------+---------------+--------------+------+------------+-----+-----------+-----+-----+-----+-----------+-------+
|PARC PARQUE|     US|        false|17.96|NA-US-PR-PARC PARQUE|Parc Parque, PR|NOT ACCEPTABLE|-66.22|           1|   PR|         NA| 0.38|-0.87|  0.3|   STANDARD|    704|
+-----------+-------+-------------+-----+--------------------+---------------+--------------+------+------------+-----+-----------+-----+-----+-----+-----------+-------+

#Write JSON data into Dataframe

In [0]:
data = [(1,"Pranci"),(2,"Tanna")]
schema = ["id","name"]
df = spark.createDataFrame(data = data, schema = schema)
df.write.json("dbfs:/FileStore/SampleData.json")