#pyspark.sql.functions.transfrom()

In [0]:
# It is used to apply the transformation on a column of type array and return an object of ArrayType.
data = [(1,"Pranci",["Pyspark","Azure"]),(2,"Tanna",["Bigdata","Python"])]
schema = ["id","name","skills"]
df = spark.createDataFrame(data,schema)
df.show()

+---+------+-----------------+
| id|  name|           skills|
+---+------+-----------------+
|  1|Pranci| [Pyspark, Azure]|
|  2| Tanna|[Bigdata, Python]|
+---+------+-----------------+

In [0]:
from pyspark.sql.functions import transform,upper,col
df1 = df.select("id","name",transform("skills",lambda x: upper(x)).alias("skills"))
df1.show()

+---+------+-----------------+
| id|  name|           skills|
+---+------+-----------------+
|  1|Pranci| [PYSPARK, AZURE]|
|  2| Tanna|[BIGDATA, PYTHON]|
+---+------+-----------------+

In [0]:
def convertToUpper(x):
    return upper(x)
df1.select(transform("skills",convertToUpper)).show()

+--------------------------------------------------------------------------------------+
|transform(skills, lambdafunction(upper(namedlambdavariable()), namedlambdavariable()))|
+--------------------------------------------------------------------------------------+
|                                                                      [PYSPARK, AZURE]|
|                                                                     [BIGDATA, PYTHON]|
+--------------------------------------------------------------------------------------+

# createOrReplaceTempView()

In [0]:
# By using this we can deal with SQL along with DataFrame
# We can create temporary view on DataFrame by using createOrReplaceTempView() 
data = [(1,"Pranci",["Pyspark","Azure"]),(2,"Tanna",["Bigdata","Python"])]
schema = ["id","name","skills"]
df = spark.createDataFrame(data,schema)
df.show()

+---+------+-----------------+
| id|  name|           skills|
+---+------+-----------------+
|  1|Pranci| [Pyspark, Azure]|
|  2| Tanna|[Bigdata, Python]|
+---+------+-----------------+

In [0]:
df.createOrReplaceTempView("employees")
df1 = spark.sql("select * from employees")
df1.show()

+---+------+-----------------+
| id|  name|           skills|
+---+------+-----------------+
|  1|Pranci| [Pyspark, Azure]|
|  2| Tanna|[Bigdata, Python]|
+---+------+-----------------+

In [0]:
%sql
select id,upper(name) from employees

id,upper(name)
1,PRANCI
2,TANNA